* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: #2D6A4F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 500px;
    background-color: #1b43326b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#email{
    width: 15vw;
    height: 5vh;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 5px;
    margin: 8px 0px;
    font: inherit;
    color: inherit;
}

#logo-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#main-logo {
    width: 80px;
    margin-bottom: 10px;
}

#home-text {
    text-decoration: none;
    font-size: 20px;
    color: #B7E4C7;
    font-weight: bold;

    transition: all 0.5s ease;
}

.user-input {
    width: 100%;
    text-align: center;
}

.user-input h2 {
    margin-bottom: 20px;
    color: #B7E4C7;
}

.messages {
    padding: 10px;
    margin-bottom: 20px;
    list-style: none;
}

.messages li {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    text-align: center;
}

.error {
    background-color: #ffebee;
    color: #c62828;
    border: 1px solid #ef9a9a;
}

.success {
    background-color: #e8f5e9;
    color: #2e7d32;
    border: 1px solid #a5d6a7;
}

.details-input {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

.input-text {
    display: block;
    margin-bottom: 5px;
    color: #B7E4C7;
}

.submit-btn {
    cursor: pointer;

    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;

    border: none;
    border-radius: 4px;
    font-size: 16px;
    border-radius: 10px;
    font: inherit;

    transition: all 0.5s ease;
}

.submit-btn:hover {
    background-color: #45a049;
}

.back-to-login {
    margin: 20px;
    width: 12vw;
    height: 4vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s ease;
}

.anchor {
    text-decoration: none;
    color: #B7E4C7;
    transition: all 0.5s ease ;
}

.anchor:hover {
    color: #9fe3b7;
}
