{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">
</head>
<body>
    <main class="wrapper">
        <section class="reset-details">
            <section id="logo-details">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/main-logo.png' %}" alt="Main logo" id="main-logo" class="main-logo">
                </a>
                <a href="{% url 'home' %}" id="home-text">Herbal Garden</a>
            </section>

            <section class="user-input">
                <h2>Reset Password</h2>

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <form method="POST">
                    {% csrf_token %}
                    <section class="email-input details-input">
                        <label for="email" class="input-text">Email Address</label>
                        {{ form.email }}
                    </section>

                    <section class="reset-btn">
                        <button type="submit" class="submit-btn">Send Reset Link</button>
                    </section>

                    <section class="back-to-login">
                        <a href="{% url 'login' %}" class="anchor">Back to Login</a>
                    </section>
                </form>
            </section>
        </section>

        <section class="side-image">
        </section>
    </main>
</body>
</html>